@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clock {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  margin: 80px auto;
}

.center-of-clock {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.seconds-hand,
.minutes-hand,
.hours-hand {
  position: absolute;
  height: 50%;
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  transform-origin: bottom;
}

:is(.seconds-hand, .minutes-hand, .hours-hand) span {
  display: block;
  width: 100%;
  height: 100%;
}

.seconds-hand {
  padding-top: 20px;
  width: 1px;
  /* transform: rotate(30deg); */
}

.minutes-hand {
  padding-top: 10px;
  width: 3px;
  /* transform: rotate(10deg); */
}

.hours-hand {
  padding-top: 30px;
  width: 5px;
  /* transform: rotate(180deg); */
}

.seconds-hand span {
  background-color: orange;
}

.hours-hand span {
  background-color: green;
}

.minutes-hand span {
  background-color: lightblue;
}
